<div class="container" align="center">
	<h1>Admin</h1>
	<div align="right">
		<%= link_to('Logout', destroy_admin_session_path, method: :delete, :class => 'btn btn-success btn-sm') %>
	</div>

  <div>
  	<%= link_to 'Restaurants' , admin_restaurants_path %><br/><br/>
  	
	</div>
</div>


