// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.form {
		margin: 0 auto;
		width: 470px;
		background-color: white;
		padding-left: 0px;
	}
	

	.form input{
		margin-right: 180px;
	}

	.err {
    color: red;
    font-size: 14px;
}

#flash_alert{
	color: red;
	font-size: 14px;
}